Source: wg-wrangler
Section: system
Priority: optional
Maintainer: Tobias Bossert <bossert@oetiker.ch>
Build-Depends: build-essential, debhelper-compat (= 13), libnet-idn-encode-perl

Package: wg-wrangler
Architecture: any
Depends: ${shlibs:Depends}, perl, wireguard, sudo, libnet-idn-encode-perl
Recommends: git
Description: An web-frontend for managing wireguard peer configuration
